@charset "utf-8";

.jinsom-show-bbs-box-content li {
  float: left;
  width: 30%;
  margin-right: 20px;
  border: 1px solid #f5f5f5;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: var(--jinsom-border-radius);
}

.jinsom-show-bbs-box-content li:hover {
  border: 1px solid #000;
}

.jinsom-show-bbs-box-content li:hover .bottom a {
  background-color: #000;
  color: #fff;
}

.jinsom-show-bbs-box-content li>i {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  cursor: pointer;
  color: #000;
}

.jinsom-show-bbs-box-content li:hover>i {
  display: block;
}

.jinsom-show-bbs-box-content li a {
  color: #333;
  text-decoration: none;
}

.jinsom-show-bbs-box-content li .bottom {
  padding-top: 10px;
  font-size: 12px;
  color: #888;
  position: relative;
}

.jinsom-show-bbs-box-content li .top {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid #f5f5f5;
}

.jinsom-show-bbs-box-content li .left {
  float: left;
  width: 60px;
  height: 60px;
}

.jinsom-show-bbs-box-content li .left img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.jinsom-show-bbs-box-content li .right {
  margin-left: 10px;
  width: calc(100% - 70px);
}

.jinsom-show-bbs-box-content li .right .title {
  font-size: 18px;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  width: 100%;
}

.jinsom-show-bbs-box-content li .right .desc {
  font-size: 12px;
  color: #999;
  height: 32px;
  overflow: hidden;
  clear: both;
  word-break: break-all;
}

.jinsom-show-bbs-box-content li .bottom span {
  margin-left: 10px;
}

.jinsom-show-bbs-box-content li .bottom a {
  color: #ccc;
  padding: 2px 4px;
  border-radius: 2px;
  margin-top: -2px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

:root {
  --jinsom-width: 1100px;
  --jinsom-color: #5fb878;
  --jinsom-border-radius: 4px;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden !important;
  background-color: #e8e8e8;
  font-family: "微软雅黑";
}

.clear:after {
  display: block;
  content: '';
  clear: both;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}


.jinsom-bbs-header-info {
  margin: auto;
  background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  padding-bottom: 20px;
  border-top: none;
  padding-right: 30px;
}

.jinsom-bbs-header-info-avatar {
  margin-top: 20px;
  left: 30px;
  float: left;
  z-index: 99;
  position: relative;
  border: 1px solid #f3f3f3;
  padding: 3px;
  background-color: #fff;
  border-radius: 4px;
}

.jinsom-bbs-header-info-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

.jinsom-bbs-header-info-avatar no-img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  display: inline-block;
  font-size: 35px;
  background-color: #076ec0;
  color: #fff;
  text-align: center;
  line-height: 150px;
}

.jinsom-bbs-header-info-avatar span {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -15px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  padding: 3px;
  right: -25px;
  cursor: pointer;
}

.jinsom-bbs-header-info-btn child {
  color: #999;
  float: left;
  line-height: 30px;
}

.jinsom-bbs-header-info-avatar span img {
  width: 50px;
  height: 50px;
}

.jinsom-bbs-header-info-avatar span no-img {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

.jinsom-bbs-header-info-avatar span:hover {
  border: 1px solid #beb9b9;
}

.jinsom-bbs-header-info-btn {
  margin-left: 220px;
  padding-top: 90px;
}

.jinsom-bbs-header-info-btn .name {
  font-size: 22px;
  color: #333;
  float: left;
  margin-right: 5px;
}

.jinsom-bbs-header-info-btn .chat {
  background-color: #2786e4;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  color: #fff !important;
  font-size: 16px !important;
  margin-left: 10px;
  cursor: pointer;
  width: 90px;
  text-align: center;
  float: left;
}

.jinsom-bbs-header-info-btn .follow {
  width: 90px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #ff7575;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px !important;
  text-align: center;
  float: left;
}

.follow.disable {
  cursor: not-allowed;
  background-color: #f39595;
}

.jinsom-bbs-header-publish-btn {
  float: right;
  text-align: center;
  background-color: var(--jinsom-color);
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  line-height: 30px;
  padding: 0 20px;
}

.jinsom-bbs-header-publish-btn i {
  vertical-align: 1px;
}

.jinsom-bbs-follow-info {
  font-size: 12px;
  line-height: 30px;
  margin-left: 20px;
  float: left;
}

.jinsom-bbs-follow-info span {
  margin-right: 10px;
}

.jinsom-bbs-follow-info span m {
  color: #f00;
}

.jinsom-bbs-header-info-desc {
  margin-left: 220px;
  margin-top: -40px;
}



.jinsom-bbs-box {
  background: #fff;
  padding: 20px;
  border-radius: var(--jinsom-border-radius);
}

.jinsom-bbs-box-header {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.jinsom-bbs-box-header .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.jinsom-bbs-box-header .right {
  background-color: #f1f1f1;
  display: flex;
  border-radius: 4px;
}

.jinsom-bbs-box.grid-style .right {
  background-color: #fff;
}

.jinsom-bbs-box-header .left li {
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 8px 12px;
  background-color: #fff;
  margin: 0 10px 0 0;
  line-height: inherit;
  border-radius: 4px;
}

.jinsom-bbs-box-header .left .on {
  background-color: #000;
  color: #fff;
}

.jinsom-bbs-list-box {
  min-height: 100px;
}

.jinsom-bbs-list-1 {
  position: relative;
  padding: 15px 5px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  border-radius: var(--jinsom-border-radius);
}

.jinsom-bbs-list-1 .left {
  text-align: center;
}

.jinsom-bbs-list-1 .left a {
  position: relative;
  float: left;
  margin: 0 0px 0 5px;
  border-right: 1px solid #f5f5f5;
  padding-right: 15px;
}

.jinsom-bbs-list-1 .left a>i {
  right: 13px;
}

.jinsom-bbs-list-1 .left a img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid #f1f1f1;
}

.jinsom-bbs-list-1 .right {
  position: relative;
  padding-left: 15px;
  width: 100%;
}

.jinsom-bbs-list-1 .right:before {
  top: 22px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: #fff;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 999;
  border-left: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  border-radius: 2px;
  left: -4px;
}

.jinsom-bbs-list-1 .right h2 {
  word-wrap: break-word;
  position: relative;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-right: 5px;
  font-family: "Microsoft Yahei";
  font-size: 16px;
  line-height: 24px;
}

.jinsom-content-left.full .jinsom-bbs-list-1 .right h2 {
  max-width: 750px;
}

.jinsom-bbs-list-1 .right .num {
  float: right;
  color: #999;
  font-size: larger;
  padding-left: 20px;
}

.jinsom-bbs-list-1-info {
  position: relative;
  z-index: 1;
  /* padding: 13px 0 0;
  word-wrap: break-word !important; */
  font-size: 12px;
  clear: both;
}

.jinsom-bbs-list-1-info-left {
  float: left;
  overflow: hidden;
}

.jinsom-bbs-list-1-info-right {
  float: right;
  overflow: hidden;
}

.jinsom-bbs-list-1-info span {
  margin: 5px 15px 5px 0;
  color: #999;
}

.jinsom-bbs-list-1-info span a {
  color: #999;
}

.jinsom-bbs-list-1 .right h2 a span i {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 8px;
  margin-left: 8px;
  border-left: 4px solid var(--jinsom-color);
}

.jinsom-bbs-list-1:last-child {
  border: none;
}

.jinsom-bbs-list-1:hover {
  background-color: #fafafa;
  border-color: rgba(0, 0, 0, 0);
}

.jinsom-bbs-list-1:hover .right:before {
  background-color: #fafafa;
}


.jinsom-bbs-box-header .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.jinsom-bbs-box-header .right {
  background-color: #f1f1f1;
  display: flex;
  border-radius: 4px;
}

/* 帖子详情页 */
.bbs-detail {
  min-height: 250px;
  position: relative;
  margin-top: 20px;
  display: flex;
}

.bbs-detail .bbs-detail-left {
  height: auto !important;
  background-color: #fff6;
  text-align: center;
}

.bbs-detail .bbs-detail-left .avatar {
  padding-top: 10%;
}

.bbs-detail .bbs-detail-right {
  height: auto !important;
  background-color: #fff;
  float: right;
}

.bbs-detail-right .bbs-detail-content {
  margin: 15px;
}

.guajian {
  width: 60px;
  position: fixed;
  right: 15%;
  top: 40%;
}

.guajian .is-circle {
  display: block;
  margin-left: 0px;
}

.guajian .is-circle i {
  font-size: 25px;
}

.bbs-detail-footer {
  position: absolute;
  bottom: 8px;
  font-size: small;
  color: #9a8282;
  right: 5px;
}

.bbs-detail-footer span {
  margin-right: 10px;
}

.bbs-detail-footer .replyComment:hover {
  cursor: pointer;
  color: #beb9b9;
}